SUPABASE_URL=https://fdkxrkrforxzalfaqpzx.supabase.co
SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
SITE_DOMAIN=example.com
NEXT_PUBLIC_SITE_URL=https://example.com
NEXT_PUBLIC_SITE_NAME=Mon Site
NEXT_PUBLIC_SITE_DESCRIPTION=Description courte du site
